@charset "utf-8";
body, html {
    font-family: 'Open Sans', sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    color: #eee;
    width: 100% !important;
    height: 100% !important;
    position: relative;
}
.tb{
  background: linear-gradient(to right,rgba(0,0,0,0),rgba(0,0,0,0.4),rgba(0,0,0,0));
}
/* CARD */
    .card {
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
        transition: 0.6s;
        float: left;
        position: relative;
        margin-left: 25px;
        margin-top: 25px;
        border-radius: 5px;
        background-color: rgba(0,0,0,0.8);
        color: white;
    }

    /* Image Radius (border-radius: top-left top-right bottom-right bottom-left;) */
    .card img {
        border-radius: 5px 5px 0px 0px;
    }

    /* entire container, keeps perspective (Size of card when in rotating state) */
    .card {
        perspective: 1000px;
    }
    /* flip the panel when hovered */
    .card:hover .flipper, .card.hover .flipper {
        transform: rotateY(180deg);
    }

    /* Width and Height of card */
    .card .front, .back {
        width: 240px;
        height: 320px;
    }

    .back {
        top: 0;
        position: absolute;
        height: 318px;
    }

    /* flip speed goes here */
    .flipper {
        transition: 0.6s;
        transform-style: preserve-3d;

        position: relative;
    }

    /* hide back of panel during swap */
    .front, .back {
        backface-visibility: hidden;

    }

    /* front panel, placed above back */
    .front {
        z-index: 2;
        /* for firefox 31 */
        transform: rotateY(0deg);
    }

    /* back, initially hidden panel */
    .back {
        transform: rotateY(180deg);
    }
/* CARD END */

h1 {
    font-weight: 700;
}
h1 strong {
    font-weight: 900;
}
h2 {
    text-transform: uppercase;
    line-height: 20px;
    font-weight: 600;
    margin: 0;
    color: #fff;
}
h3 {
    font-size: 16px;
    font-weight: 700;
    color: #fff;
}
h4 {
    font-weight: 500;
    color: #fff;
}
h5 {
    text-transform: uppercase;
    font-weight: 700;
    line-height: 20px;
}
p {
    font-size: 14px;
    color: #ccc
}
a {
    color: #754747;
}
a:hover, a:focus {
    text-decoration: none;
    color: #F4D03F;
}
ul, ol {
    list-style: none;
}

/* Home Section */
#intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}
#intro .intro-body H1 {
    font-size: 76px;
    font-weight: 700;
    color: rgba(255,255,255,0.8);
    text-transform: uppercase;
}
#intro .intro-body .styled-heading {
    color: #f05b22;
    text-shadow: 4px 6px rgba(0,0,0,0.4);
}
#intro .intro-body .intro-text {
    font-size: 18px;
}

#intro .btn-default {
    border: 2px solid #222;
    color: #eee;
    background: rgba(0,0,0,0.8);
    padding: 12px 24px;
    margin: 0 8px;
    font-size: 18px;
    transition: all 0.5s;
}
#intro .btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active {
  color: #fff;
    background: rgba(0,0,0,.4);
    border: 2px solid #f05b22;
}



/* About Section */
#about {
    padding: 80px 0;
    background: #111;
}
#about .about-text {
    margin-left: 5px;
    color: #bbb;
}
#about H2 {
    color: #ccc;
}
#about H4 {
    font-size: 20px;
    color: #ccc;
}
#about li {
    margin-bottom: 3px;
    list-style: none;
    padding: 0;
    font-size: 13px;
}
#about .col-md-4 li:before {
    content: "|";
    font-weight: 600;
    padding-right: 8px;
    color: #e75926;
}
#about i.fa {
    float: left;
    display: block;
    margin-right: 15px;
    color: #fff;
    font-size: 44px;
    text-shadow: 0 0 1px #666;
}
#about img {
    margin-top: 20px;
}
#about p {
    margin-top: 20px;
}

/* Athletics */
#football {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #222;
    background: url("assets/athletics/football.jpg") no-repeat center center fixed;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
#football .football-body {
    display: table-cell;
    vertical-align: middle;
}
#football .football-body H1 {
    font-size: 76px;
    font-weight: 700;
    color: rgba(255,255,255,0.8);
    text-transform: uppercase;
}
#football .football-body .styled-heading {
    color: #f05222;
    text-shadow: 0 4px #111;
}
#football .football-body .football-text {
    font-size: 18px;
}
/*Athletic link paragraph*/ 
p#link{
	font-size:45px;
	color: #222;
    text-shadow: 0 4px #f05b22;
}
#football .btn-default {
	border: 2px solid #f05222;
    color: #f05222;
    background: #222;
    padding: 12px 24px;
    margin: 0 8px;
    font-size: 18px;
    transition: all 0.5s;
}
#football .btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active {
   color: #f05222;
    background: rgba(0,0,0,.4);
    border: 2px solid #222;
}
#menssoccer {
	display: table;
	width: 100%;
	height: auto;
	padding: 100px 0;
	text-align: center;
	color: #fff;
	background: url("assets/athletics/building.png") no-repeat center center fixed;
	background-color: #000;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}
#menssoccer .menssoccer-body {
	display: table-cell;
	vertical-align: middle;
}
#menssoccer .menssoccer-body H1 {
	font-size: 76px;
	font-weight: 700;
	color: rgba(255,255,255,0.8);
	text-transform: uppercase;
}
#menssoccer .menssoccer-body .styled-heading {
    color: #F0F8FF;
	text-shadow: 0 4px #111;
}
#menssoccer .menssoccer-body .menssoccer-text {
	font-size: 18px;
}
#crosscountry {
	display: table;
	width: 100%;
	height: auto;
	padding: 100px 0;
	text-align: center;
	color: #fff;
	background: url("assets/athletics/building.png") no-repeat center center fixed;
	background-color: #000;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}
#crosscountry .crosscountry-body {
	display: table-cell;
	vertical-align: middle;
}
#crosscountry .crosscountry-body H1 {
	font-size: 76px;
	font-weight: 700;
	color: rgba(255,255,255,0.8);
	text-transform: uppercase;
}
#crosscountry .crosscountry-body .styled-heading {
    color: #F0F8FF;
	text-shadow: 0 4px #111;
}
#crosscountry .crosscountry-body .crosscountry-text {
	font-size: 18px;
}
#volleyball {
	display: table;
	width: 100%;
	height: auto;
	padding: 100px 0;
	text-align: center;
	color: #fff;
	background: url("assets/athletics/building.png") no-repeat center center fixed;
	background-color: #000;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}
#volleyball .volleyball-body {
	display: table-cell;
	vertical-align: middle;
}
#volleyball .volleyball-body H1 {
	font-size: 76px;
	font-weight: 700;
	color: rgba(255,255,255,0.8);
	text-transform: uppercase;
}
#volleyball .volleyball-body .styled-heading {
    color: #F0F8FF;
	text-shadow: 0 4px #111;
}
#volleyball .volleyball-body .volleyball-text {
	font-size: 18px;
}
#girlstennis {
	display: table;
	width: 100%;
	height: auto;
	padding: 100px 0;
	text-align: center;
	color: #fff;
	background: url("assets/athletics/building.png") no-repeat center center fixed;
	background-color: #000;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}
#girlstennis .girlstennis-body {
	display: table-cell;
	vertical-align: middle;
}
#girlstennis .girlstennis-body H1 {
	font-size: 76px;
	font-weight: 700;
	color: rgba(255,255,255,0.8);
	text-transform: uppercase;
}
#girlstennis .girlstennis-body .styled-heading {
    color: #F0F8FF;
	text-shadow: 0 4px #111;
}
#girlstennis .girlstennis-body .girlstennis-text {
	font-size: 18px;
}
#girlsgolf {
	display: table;
	width: 100%;
	height: auto;
	padding: 100px 0;
	text-align: center;
	color: #fff;
	background: url("assets/athletics/building.png") no-repeat center center fixed;
	background-color: #000;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}
#girlsgolf .girlsgolf-body {
	display: table-cell;
	vertical-align: middle;
}
#girlsgolf .girlsgolf-body H1 {
	font-size: 76px;
	font-weight: 700;
	color: rgba(255,255,255,0.8);
	text-transform: uppercase;
}
#girlsgolf .girlsgolf-body .styled-heading {
    color: #F0F8FF;
	text-shadow: 0 4px #111;
}
#girlsgolf .girlsgolf-body .girlsgolf-text {
	font-size: 18px;
}
#mensbasketball {
	display: table;
	width: 100%;
	height: auto;
	padding: 100px 0;
	text-align: center;
	color: #fff;
	background: url("assets/athletics/building.png") no-repeat center center fixed;
	background-color: #000;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}
#mensbasketball .mensbasketball-body {
	display: table-cell;
	vertical-align: middle;
}
#mensbasketball .mensbasketball-body H1 {
	font-size: 76px;
	font-weight: 700;
	color: rgba(255,255,255,0.8);
	text-transform: uppercase;
}
#mensbasketball .mensbasketball-body .styled-heading {
    color: #F0F8FF;
	text-shadow: 0 4px #111;
}
#mensbasketball .mensbasketball-body .mensbasketball-text {
	font-size: 18px;
}